doctype html
html(lang="en")
  head
    title= 'D3 workflow constructor'
    meta(http-equiv='content-type' content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='img/favicon.png', rel='icon', type='image/png')
    block stylesheet
      link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
      link(href='css/bootstrap-theme.min.css', rel='stylesheet', media='screen')
      link(href='css/base.css', rel='stylesheet', media='screen')
  body
    block content
    block javascript
      script(src='js/jquery-1.11.3.min.js')
      script(src='js/bootstrap.min.js')