extends layout
append stylesheet

  link(href='css/main.css', rel='stylesheet', media='screen')
append content
  nav.navbar.navbar-inverse.navbar-fixed-top
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href="#")
      div.navbar-collapse.collapse
        ul.nav.navbar-right.navbar-nav
          li
            a#analyse(href="#") Analyse
          li
            a#optimise(href="#") Optimise
          li
            a#optimiseAll(href="#") Optimise all
          li
            a#execute(href="#") Execute
        ul.nav.navbar-right.navbar-nav
          li
            a#newwl(href="#") New workflow
          li
            a#loadwl(href="#") Load workflow
            input#uploadfile(type='file', style='display: none;')
          li
            a#savewl(href="#") Save workflow
  div.container-fluid
    div.row
      div.sidebar.col-md-3
        ul.nav.nav-sidebar
          li
            a#adddatastore(href="#") Add datastore
          li
            a#addnode(href="#") Add node
          li
            a#addlink(href="#") Add links
        div#node.hide
          ul.nav.nav-sidebar
            li#nodeName
              label(for="nodeTitle") Node title:
              input#nodeTitle
            li
              a#removeNode(href="#") Remove Node
          div#tasksBoard
          ul.nav.nav-sidebar
            li
              a#addTask(href="#") Add task
          ul#libraryOperators.nav.nav-sidebar.hide
            li
              a#mpBar(href="#") mp_bar
            li
              a#mpPie(href="#") mp_pie
            li
              a#mpGeo(href="#") mp_geo
            li
              a#rp(href="#") rp
            li
              a#ifElse(href="#") if-else
            li
              a#gotoL(href="#") gotoL
            li
              a#gotoP(href="#") gotoP
            li
              a#WindPeakDetection(href="#") Wind_Peak_Detection
            li
              a#WindUserProfiling(href="#") Wind_User_Profiling
            li
              a#WindKmeans(href="#") Wind_Kmeans
            li
              a#WindDataFilter(href="#") Wind_Data_Filter
            li
              a#WindDistributionComputation(href="#") Wind_Distribution_Computation
            li
              a#WindStereotypeClassification(href="#") Wind_Stereotype_Classification
            li
              a#WindPeakDetectionPublisher(href="#") Wind_Peak_Detection_Publisher
            li
              a#WindStatisticsPublisher(href="#") Wind_Statistics_Publisher
            li
              a#WindSpatioTemporalAggregation(href="#") Wind_Spatio_Temporal_Aggregation
            li
              a#filterJoin(href="#") Filter Join
            li
              a#groupBySort(href="#") groupBy Sort
            li
              a#tfIdf(href="#") Tf-Idf
            li
              a#filter(href="#") filter
            li
              a#calc(href="#") calc
            li
              a#dataset(href="#") dataset
            li
              a#createNewTask(href="#") Create new
          div#taskName.hide
            label(for="taskTitle") Task title:
            input#taskTitle
          div#metadata.hide
            div
              label(for="metadata") Meta Data:
            div#metadataTree.hide
            div
              textarea#metadataEditor
      div.main.col-md-9.col-md-offset-3
        div#tabs.container-fluid
          ul.nav.nav-tabs
        div#wlBoard
        div#bar.container-fluid
          div#chartContainer(style="height: 200px; width: 400px;")
append javascript
  script(src='js/hjson.min.js')
  script(src='js/d3.js')
  script(src='js/FileSaver.js')
  script(src='js/graph.js')
  //script(src='js/indented_tree.js')
  script(src='js/main.js')